header, footer {
    color: white;
    background-color: black;
    padding: $espaciado_estructura;
    }
    
    .logo {
    width: 100%;
    }

    .imagenes {
        width: 50%;
        margin-top: 20px;
        margin-left: 110px;
    }
    
    main {
    color:$color_primario;
    background-color: lightgray;
    padding: 50px;
    }

    footer {
        margin-top: 20px;
    }

    * {
        padding: 0%;
        margin: 0%;
    }

    