.menu {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 30px;
    p {
        font-size: 38px;
        ul li a {
            font-size: 80px;
        }
    }
}

 section p {
    font-size: 20px;
}

